# Theory Questions

1) What are data structures, and why are they important?

Ans: Data structures are ways of organizing and storing data so it can be used efficiently.

Why are they important?

* Can handle large amounts of data.
* Makes searching, sorting, and accessing data faster.

2) Explain the difference between mutable and immutable data types with examples

Ans:

Mutable:
*   Values can be modified
*   Example: List, Set, Dictionary
*   Code: list1 = [1,2]; list1[0] = 100 --> [100,2]
            
Immutable:
*  Values cannot be modified
*  Example: String, Tuple
*  Code: b = "hello"; b[0] = "H" --> (Error)

3) What are the main differences between lists and tuples in Python?

Ans:
1. Mutability:

* List is mutable – you can change, add, or remove elements.
* Tuple is immutable – you cannot change its elements after creation.

2. Syntax:

* List uses square brackets: my_list = [1, 2, 3]
* Tuple uses parentheses: my_tuple = (1, 2, 3)

3. Performance:

* Tuples are slightly faster and use less memory than lists.

4) Describe how dictionaries store data?

Ans:
*  A dictionary in Python stores data as key-value pairs.
*  Each unique key maps to a value, and you can use the key to access the value.

Example:

info = {"name": "Srushti", "age": 20}
; print(info["name"]) --> Srushti

5) Why might you use a set instead of a list in Python?

Ans:
You might use a set instead of a list in Python when:

* You need to store only unique items (no duplicates).

* You want faster membership checking (e.g., x in my_set is faster than x in my_list).

6) What is a string in Python, and how is it different from a list?

Ans:  Difference from a list:
* A string holds only characters enclosed in quotes (" " or ' ') and is immutable (cannot be changed).

* A list can hold any data types (numbers, strings, etc.) and is mutable (can be changed).

Example:

s = "hello"       # string

l = ['h', 'e', 'l', 'l', 'o']  # list

7) How do tuples ensure data integrity in Python?

Ans: Tuples ensure data integrity in Python because they are immutable — once created, their values cannot be changed.

This means:

* Data stays fixed and protected from accidental modification.

* Tuples are useful when you want to store constant data like coordinates or dates.

8) What is a hash table, and how does it relate to dictionaries in Python?

Ans:
* A hash table is a data structure that stores data in key-value pairs using a hash function to compute an index for each key.

* In Python, a dictionary is built using a hash table, allowing quick data lookup, insertion, and deletion.

9) Can lists contain different data types in Python?

Ans: Yes, lists in Python can contain different data types
      --> Example: my_list = [1, "hello", 3.14, True]

10) Explain why strings are immutable in Python?

Ans:
Strings are immutable in Python to ensure:

* Safety: They can't be changed accidentally.

* Efficiency: Immutable objects are faster and can be reused.

* Hashing: Strings can be used as dictionary keys because they don’t change.

11) What advantages do dictionaries offer over lists for certain tasks?

Ans:
Dictionaries offer these advantages over lists for certain tasks:

*  Fast lookup using keys (O(1) time on average)
*  No need to remember index positions, just use descriptive keys

12)  Describe a scenario where using a tuple would be preferable over a list?

Ans: Use a tuple instead of a list when you want to store fixed data that should not be changed.

Example scenario:
Storing geographic coordinates (latitude, longitude).

location = (19.0760, 72.8777)  # Mumbai coordinates
{Tuples are preferred here because the coordinates should stay constant.}

13) How do sets handle duplicate values in Python?

Ans:
In Python, sets automatically remove duplicate values.

Example:

s = {1, 2, 2, 3, 3, 3}
; print(s)  # Output: {1, 2, 3}

14) How does the “in” keyword work differently for lists and dictionaries?

Ans:
* In a list:

my_list = [1, 2, 3]
; print(2 in my_list)  # True

* In a dictionary:

my_dict = {"name": "Srushti", "age": 20}
; print("name" in my_dict)  # True
; print("Srushti" in my_dict)  # False

Summary:

* in with list → checks for value
* in with dict → checks for key

15) Can you modify the elements of a tuple? Explain why or why not?

Ans:
* No, you cannot modify the elements of a tuple in Python because tuples are immutable.

* Once a tuple is created, its elements cannot be changed, added, or removed. This helps ensure data safety and consistency

16) What is a nested dictionary, and give an example of its use case?

Ans:A nested dictionary means a dictionary inside another dictionary.

* Example:
student = {
    "name": "Srushti",
    "marks": {"math": 85, "science": 90}
}

* Use:
It helps store detailed info, like a student’s subjects and marks.

17)  Describe the time complexity of accessing elements in a dictionary?

Ans: The time complexity of accessing elements in a Python dictionary is:

* O(1) (on average)
This means you can access any value by its key very quickly, regardless of the dictionary's size.

18)  In what situations are lists preferred over dictionaries?

Ans:
Lists are preferred over dictionaries when:

- You need to store ordered data.

- You access elements by position (index).

- You’re storing simple sequences like numbers, names, etc.

19) Why are dictionaries considered unordered, and how does that affect data retrieval

Ans:
Dictionaries were considered unordered before Python 3.7, meaning they didn't keep the order in which items were added.

Since Python 3.7+, dictionaries preserve insertion order, but they are still accessed by key, not position.

* Effect on data retrieval:

You cannot rely on index positions (like in lists).

You must use the key to get a value

20) Explain the difference between a list and a dictionary in terms of data retrieval.

Ans:
* A list retrieves data using an index (number)

Example:

my_list = [10, 20, 30]
; print(my_list[1])  # Output: 20

* A dictionary retrieves data using a key (name).

Example:

my_dict = {"a": 10, "b": 20}
; print(my_dict["b"])  # Output: 20

# Practical Questions

In [1]:
#1) Write a code to create a string with your name and print it?
name="Srushti"
print(name)

Srushti

In [2]:
#2) Write a code to find the length of the string "Hello World"?
s="Hello World"
print(len(s))

11

In [7]:
#3) Write a code to slice the first 3 characters from the string "Python Programming"
s="Python Programming"
print(s[:3])

Pyt

In [9]:
#4) Write a code to convert the string "hello" to uppercase?
s="hello"
print(s.upper())

HELLO

In [11]:
#5) Write a code to replace the word "apple" with "orange" in the string "I like apple"
s="I like apple"
s1=s.replace("apple","orange")
print(s1)

I like orange

In [12]:
#6) Write a code to create a list with numbers 1 to 5 and print it?
l=[1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

In [13]:
#7) Write a code to append the number 10 to the list [1, 2, 3, 4]
l=[1, 2, 3, 4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

In [14]:
#8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
l=[1, 2, 3, 4, 5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [15]:
#9) Write a code to access the second element in the list ['a', 'b', 'c', 'd']
l=['a', 'b', 'c', 'd']
print(l[1])

b

In [17]:
#10) Write a code to reverse the list [10, 20, 30, 40, 50].
l=[10, 20, 30, 40, 50]
l1=l[::-1]
print(l1)

[50, 40, 30, 20, 10]

In [18]:
#11)  Write a code to create a tuple with the elements 100, 200, 300 and print it.
t=(100, 200, 300)
print(t)

(100, 200, 300)

In [19]:
#12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t=('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

In [20]:
#13) Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t=(10, 20, 5, 15)
print(min(t))

5

In [22]:
#14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t=('dog', 'cat', 'rabbit')
print(t.index("cat"))

1

In [25]:
#15) Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
t=("spple","orange","kiwi")
print("kiwi" in t)

True

In [27]:
#16) Write a code to create a set with the elements 'a', 'b', 'c' and print it
s={'a','b','c'}
print(s)

{'b', 'a', 'c'}

In [29]:
#17) Write a code to clear all elements from the set {1, 2, 3, 4, 5}
s={1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [30]:
#18) Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s={1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [31]:
#19) Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1={1, 2, 3}
s2={3, 4, 5}
print(s1|s2)

{1, 2, 3, 4, 5}

In [32]:
#20) Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1={1, 2, 3}
s2={2, 3, 4}
print(s1&s2)

{2, 3}

In [33]:
#21) Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d={"name":"Srushti","age":20,"city":"Mumbai"}
print(d)

{'name': 'Srushti', 'age': 20, 'city': 'Mumbai'}

In [34]:
#22) Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d={'name': 'John', 'age': 25}
d.update({"country":"USA"})
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [35]:
#23) Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d={'name': 'Alice', 'age': 30}
print(d["name"])

Alice

In [37]:
#24) Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d={'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop("age")
print(d)

{'name': 'Bob', 'city': 'New York'}

In [38]:
#25) Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
d={'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [39]:
#26) Write a code to create a list, a tuple, and a dictionary, and print them all.
l=[1,2,3]
t=(1,2,3)
d={1:2,3:4}
print(l,t,d)

[1, 2, 3] (1, 2, 3) {1: 2, 3: 4}

In [40]:
#27) Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
list1=[23,25,31,7,24]
list1.sort()
print(list1)

[7, 23, 24, 25, 31]

In [42]:
#28) Write a code to create a list with strings and print the element at the third index.
l=["s","r","u","s","h","t","i"]
print(l[3])

s

In [43]:
#29) Write a code to combine two dictionaries into one and print the result.
d1={1:"srushti", 2:"Poo", 3:"Triveni", 4:"Anu"}
d2={5:"Harsh",6:"Sanket"}
d1.update(d2)
print(d1)

{1: 'srushti', 2: 'Poo', 3: 'Triveni', 4: 'Anu', 5: 'Harsh', 6: 'Sanket'}

In [44]:
#30) Write a code to convert a list of strings into a set.
list1=["apple","orange","kiwi"]
set1=set(list1)
print(set1)

{'kiwi', 'apple', 'orange'}